@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal_bg {

    background-color: rgba(255, 255, 255, 0.7);
}

.btn_link {

    color: #007bff;
    cursor: pointer;
}

.btn_link:hover,
.btn_link:focus {

    color: #0056b3;
    text-decoration: underline;
    outline: none;
}

.w_30 {

    width: 30%;
}

.border_primary {

    border: 1px solid #007bff;
}

@media (min-width: 417px) {

    .float_right_sm {
      float: right;
    }

}

@media (max-width: 416px) {

    .float_right_sm {
        display: block;
    }
}

@media (max-width: 319px) {

    .btn_link {
        display: block !important;
    }

    .up_back_to_in_container {

        justify-content: flex-start !important;
    }
}

@media (min-width: 319px) {

    .up_back_to_in_container {

        justify-content: center !important;
    }
}

.opacity_1 {

    opacity: 1 !important;
}

.btn_primary:hover {

    color: #0069d9 !important;
}

.dropdown_header:hover .dropdown_toggle {

    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.dropdown_toggle {

    transform: translateY(-1.7em);
    transition: linear 0.25s;
    visibility: hidden;
    opacity: 0.4;
}

.rounded_0_top {

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

}

.rounded_0_bottom {

    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

}

.dropdown_title {

    color: rgba(255, 255, 255, 0.7) !important;
}

.dropdown_header:hover .dropdown_title{
    color: white !important;
    text-decoration: underline;
}

.dropdown_header:hover .dropdown_title img{

    border: rgba(255, 253, 253, 0.8) 3px solid;
}

.img_40x40 {

    width: 43px;
    border: rgba(255, 253, 253, 0.5) 3px solid;
}

.img_20x20 {

    width: 20px;
    height: 20px;
    border: rgba(255, 253, 253, 0.5) 3px solid;
    opacity: 0.7;
}

.nav_brand {

    font-size: 1.5rem;
}

.dropdown_item_img:hover .img_20x20 {
    opacity: 1;
}

.notification_in_line {

    height: fit-content;
    width: fit-content;
    padding-bottom: 1px;
}

.settings_container {
    
    min-width: 115px;
}

.m_auto {

    margin: auto;
}

.settings_buttons {
    
    border-bottom: 2px solid white;
    cursor: pointer;
}

.settings_buttons:hover {

    background-color: #cecece;
    color: white !important;
    font-weight: bold;
}

.settings_selected_title {

    color: white;
    background-color: #cecece;
}

.nav_border_bottom {

    border-bottom: 2px solid #dee2e6;
}

.user_profile_img {

    width: 170px;
    height: 170px;
    border: 5px solid #007bff67;
}

.color_primary_opacity_medium {

   color: #007bff9c;

}

.btn_add {

    border: 3px solid rgba(255, 253, 253, 0.5);
    background-color: #28a746;
    font-size: 21px;
    color: white;
}

@media (max-width: 1800px) {

    .width_100_md {

        width: 100%;
    }

}

@media (min-width: 1800px) {

    .ml_auto_lg {

        margin-left: auto !important;
    };
}

.min_width_245 {

    min-width: 307px;
}

.profile_buttons {

    color: white;
    background-color: #007bff67;
    border: none;
}

.profile_buttons_focused {

    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0 !important;
    background-color: #007bff;
}

.profile_buttons:focus {

    outline: 0 !important;
}

.profile_buttons:hover {

    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    background-color: #007bff;
}

.min_width_161 {

    min-width: 161px !important;;
}

.input_btn_text {

    color: #ced4da;
    width: 100%;
    border: 1px solid #ced4da;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    outline: 0 !important;
}

.border_primary_x2 {

    border: 2px solid #007bff;
}

.label_for_file {

    position: absolute;
    font-size: 14px;
    width: 25%;
    left: 0;
    z-index: 1;
}

.width_48 {

    width: 48% !important;
}

.emoji_dropdown_menu {

    position: absolute;
    top: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    display: none;
    width: fit-content;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.emoji_dropdown_title {

    background-color: #f8f9fa !important;
}

.emoji_dropdown_title_hover {

    background-color: #e2e6ea !important;
    border-color: #dae0e5 !important;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5) !important;
}

.emojis_style {

    border-radius: 50%;
    border: none;
    background-color: white;
    outline: 0;
}

.emojis_style:hover {

    background-color: #ebebeb;
}

.emojis_style:focus {

    background-color: #f0f0f0;
}

.write_post_container {
    
    cursor: pointer;
}

.write_post_container:hover {
    
    background-color: #f8f9fa;
}

.write_post_container:hover .input_btn_text {
    
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.write_post_container:hover img {
    
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.loading {

    border: 7px solid #007bff67;
    border-radius: 50%;
    border-top: 7px solid #007bff;;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
    margin: auto;
}

.date {

    color: #007bff9c;
    font-size: 70%;
}

.ellipsis_container:hover .ellipsis {

    background-color: #dae0e5;
    color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.ellipsis_container:hover .ellipsis_menu {

    display: block !important;
}

.ellipsis {

    background-color: #f8f9fa;
    outline: none !important;
    color: #007bff9c;
}

.post_comment_btn {

    color: #007bff9c;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0.375rem 0.75rem;
    border: 0;
    background-color: #f8f9fa;
    outline: 0 !important;
    font-size: 85%;
}

.post_comment_btn:hover,
.post_comment_btn:focus {

    color: #007bff;
    border-color: #dae0e5;
}

.ellipsis_menu {

    border-top-right-radius: 0.25rem;
    background-color: #dae0e5;
    left: 10px;
    top: 26px;
    font-size: 100%;
    overflow: hidden;
    min-width: 60px;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: 0 !important;
    display: none;
}

.ellipsis_items {

    color: rgba(0, 123, 255, 0.476);
    background-color: #dae0e5;
    border: 0;
    outline: 0 !important;
}

.ellipsis_items:hover {

    color: #007bff;
    background-color: #f8f9fa;
    border: 0;
    outline: 0 !important;
}

.ellipsis_items_special {

    border-bottom: 2px solid rgba(0, 123, 255, 0.25) !important;
    border-top-right-radius: 0.25rem;
}

.comment_input_container:focus-within,
.comment_input_container:hover {

    outline: 0;
    box-shadow: 0 4px 10px 3px rgba(0, 123, 255, 0.25);
}

.comment_input {
    font-size: 70%;
    border: 0;
    outline: 0 !important;
}

.comment_input::placeholder {
    color: rgba(0, 123, 255, 0.531);
}

.comment_input_btns {

    color: rgba(0, 123, 255, 0.476);
    outline: 0 !important;
    background-color: white;
    border-bottom-right-radius: 0.25rem;
}

.comment_input_btns:hover {

    color: #007bff;
    outline: 0 !important;
    background-color: rgba(0, 123, 255, 0.144);
}

.comment_input_btns:disabled {
    color: #e4e4e4;
    background-color: white;
}

.post_description {
    
    font-size: 80%;
}

.close_preview {

    right: 5px;
    height: 0px;
    display: none !important;
    color: #007bff46 !important;
}

.close_preview:hover {

    color: #007bff !important;
}

.close_preview:focus {

    box-shadow: none !important;
}

.preview_image_container:hover img {

    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.preview_image_container:hover .close_preview {

    display: inline-block !important;
}

textarea {
    height: 100px !important;
    resize: none !important;
}

textarea::-webkit-scrollbar {

    width: 10px;
}

textarea::-webkit-scrollbar-track {

    background-color: #e6e6e6;
    border-left: 1px solid #80bdff;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

textarea::-webkit-scrollbar-thumb {

    background-color: #007bff9c;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    height: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {

    background-color: #007bff;
}

.input_autofilled {

    appearance: menulist-button;
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}