.modal_bg {

    background-color: rgba(255, 255, 255, 0.7);
}

.btn_link {

    color: #007bff;
    cursor: pointer;
}

.btn_link:hover {

    color: #0056b3;
    text-decoration: underline;
}

.w_30 {

    width: 30%;
}